h1{
    padding: 10px 20px;
}
.navbar-brand{
    padding:0 10px;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav{
    padding:0 15px;
}
.titleHeading{
    font-family: Verdana, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.container-fluid{
    padding:3% 15%
}
#title{
    background-color: #ff4c68;
}
