.titleHeading{
    font-size:3.2rem;
    line-height: 1.5;
}

.container-fluid{
    padding:3% 15%
}
#title{
    background-color: #ff4c68;
    color:white;
}


body{
font-family: 'Montserrat';
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-nav{
    padding:0 15px;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Ubuntu";
    font-weight:lighter;

}
/* Download Button */
.downloadButton{
        margin: 5% 3% 5% 0%;
}
/*Title Image*/

.IphoneMockup{ 
    width:15%;
    transform:rotate(25deg);
    position: absolute;
    z-index: 0;
    text-align: center;
}
#features{
    padding: 2% 15%;
    background-color: white;
    position: relative;
}

.featuresClass{
    text-align: center;
    font-family: "Ubuntu";
    padding:5%
}
h3{
    font-family: "Montserrat";
    font-size:1.3rem;
}
p{
    color:grey;
    font-weight: bold;
}
h2{
 font-family: "Montserrat";
 font-weight:100;
 font-size: 2rem;
 line-height: 1.5;
}
.featureIcon{
    font-size:300%;
    color:#ef8172;
}
.featureIconWhite{
    font-size: 300%;
    color:white;
}

.featureIcon:hover{
    color:#ff4c68;
    font-size: 350%;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
#Press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom: 3%;
}
.pressImage{
    width: 15%;
    margin: 20px 20px 50px;
}
/* .testimonial-text{
    font-family: "Ubuntu";
} */

em{
    font-family: "Ubuntu";
    font-weight: bolder;
}
.carousel-item{
    padding: 2% 15%;

}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:white;
}
.headerInRow{
    margin: 10px;
    color: black;
    font-family: "ubuntu";
}

#pricing{
    padding: 3% 15%;
    font-family: "ubuntu";
}
#cta{
    background-color: #ff4c68;
    color:white;
    padding: 3% 15%;
    text-align: center;
}
.footerParagraph{
    background-color: #ff4c68;
    color: white;
    font-family: "ubuntu";
    font-weight: bold;
    padding: 7% 15%;
    font-size: 200%;
    text-align: center;
}

/*Media Query*/

@media (max-width:1028px) 
{
    .IphoneMockup{
        position: static;
        transform :rotate(0);
        width: 65%;
        text-align: center;
    }
    #title{
        text-align: center;
    }    
}

#secondColumn{
    text-align:center;
}

.big-Heading{
    line-height: 1.5;
    color: white;
    font-size: 3rem;
    padding:3%
}
.btn{
    font-family: "ubuntu";
}