h1{
    padding: 10px 20px;
}
.navbar-brand{
    padding:0 10px;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-nav{
    padding:0 15px;
}
.titleHeading{
    font-family: Verdana, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
#firstColumn{
    padding: 40px 45px;
}
.IOSDownloadFirst{
    padding:0px 50px;
}
.androidDownloadFirst{
    padding:0px 50px;
}
.featuresclass{
    background-color: palevioletred;
    padding:10px 15px;
}
#features{
    padding:10px 15px;
}
#rowFirst{
    background-color: palevioletred;
}